body{
	background-image:url('home_background.jpg');
	background-size: cover;
	font-family: fantasy;
	margin: 0 auto;
    height: 976px;
}
#container{
	margin: 0 auto;
	width: 1400px;
}

div#homepage_title h1{
	padding-left: 10%;
	font-size: 60px;
	float: left;
    width: 1040px;
}
homepage_title h2{
	padding-top:70px;
	padding-left:15px;
	font-size: 30px;
	padding-right:20px;
	color:#444;
}

div#homepage_content{
	width: 1200px;
	margin-right:auto;
    top: -8px;
    left: 16px;
    height: 656px;
}
homepage_content img{
	width: 231px;
	height: 346px;
}
h5{
	font-family: sans-serif;
	color: #444;
}